:root{
    --gray:#333333;
}

body{
    background:var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height:90%;
    width: 90%;
}


.test{
    color:white;
    font-size:100px;
    text-align: center;
}