/*
Color Palette:

Dark Blue:          #12232E
Lighter Blue:       #007CC7
Lightest Blue:      #4DA8DA

Dark Blue Shadow:   #203647
Light Blue Shadow:  #EEFBFB

*/


body{
    background-image: linear-gradient(to bottom,#12232E, #203647);
}

header{
    background: #007CC7;
    border-radius: 25px 25px 0px 0px;
    margin:15px;
    margin-top: 20px;
    margin-bottom: 5px;
    padding:10px;
}

nav ul{
    margin:0;
    padding: 0;
    display:flex;
}

nav li:first-child{
    display:inline-table;
    margin:0
}

nav li{
    display: inline-table;
    margin-left: -2;
}

nav a{
    font-size:30;
    color: #EEFBFB;
    text-decoration: none;
}

.navcontainer{
    display:flex;
    justify-content: center;
}

.navbox{
    text-align: center;
    width: 150;
    padding:10;
    border:2px solid #4DA8DA;
}

.navbox:hover{
    color: black;
    background-image:radial-gradient(white,#89CFFF);
    transition-duration: .7s;
}

.colorpalette{
    padding:10;
    background-color: lightgray;
    border: 5px solid black;
    font-size: 30;
}

